server:
  port: 8084
spring:
  application:
    name: vacancy-service
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
  datasource:
    url: jdbc:postgresql://localhost:5432/vacancy_db
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
