server:
  port: 8888

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        native:
          # todo: use spring.cloud.config.server.git.uri
          search-locations: file:../organizationService/src/main/resources, file:../userService/src/main/resources, file:../vacancyService/src/main/resources


