spring:
  application:
    name: organization-service
  cloud:
    config:
      uri: http://localhost:8888
      fail-fast: true
  r2dbc:
    url: r2dbc:postgresql://localhost:5432/vacancy
    username: postgres
    password: postgres
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    out-of-order: false

server:
  port: 8081
