server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      routes:
        - id: organization-service
          uri: http://organization-service:8081
          predicates:
            - Path=/organization/**
          filters:
            - StripPrefix=1
        - id: user-service
          uri: http://user-service:8082
          predicates:
            - Path=/user/**
          filters:
            - StripPrefix=1
        - id: vacancy-service
          uri: http://vacancy-service:8083
          predicates:
            - Path=/vacancy/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/