server:
  port: 8080
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: organization-service
          uri: lb://organization-service
          predicates:
            - Path=/organization/**
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/user/**
        - id: vacancy-service
          uri: lb://vacancy-service
          predicates:
            - Path=/vacancy/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

